apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: agoramesh-node
  namespace: agoramesh
spec:
  minAvailable: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: agoramesh-node
